/*** FORMS ***/
form.login {
	background: #fff;
	width: 500px;	
	box-shadow: 0 0 20px #ccc;
	margin: 50px auto 0 auto;
	padding: 50px;
	
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

form.login table {
	width: 500px;
}

form.login table tr {
	height: 10px;
}

form.login table td {
	height: 50px;
	text-align: left;
	vertical-align: middle;
}

form.login input.text {
	border: 1px solid #ccc;
	padding: 10px 5px;
	font-size: 20px;
	width: 350px;
	margin: 0;
}

form.login input {
	margin: 0 0 25px 50px;
}

.side-form {
	background: #9f698d;
	border-radius: 4px;
	box-shadow: 0 0 6px #9f698d;
	float: right;
	margin: 20px 0 0 0;
	padding: 10px;
	width: 280px;	
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.side-form-detail {
	background: #9f698d;
}

.side-form h2, .side-form-detail h2 {
	border-bottom: 1px solid #fff;
	color: #fff;
}

.side-form label, .side-form-detail label {
	color: #fff;
	display: block;
	float: left;
	font-size: 11px;
	line-height: 25px;
	font-weight: normal;
	text-align: left;
	padding: 10px 0 0 2px;
	width: 88px;
}

.side-form-detail label {
	width: 33%;
}

.center-form-detail label {
	width: 22%;
}

.side-form input[type=text], .side-form-detail input[type=text], select, textarea {
	border: 1px solid #6c365a;
	height: 25px;
	margin: 10px 0 0 0;
	padding: 0 0 0 2px;
	width: 183px;
}

.side-form-detail input[type=text] {
	width: 63%;
}

.center-form-detail input[type=text], .center-form-detail select {
	width: 76%;
}

.center-form-detail textarea {
	height: 130px;
	padding: 2px 1px;
	width: 76%;
}

#assign-test-form select {
	width: 100%;
}

.side-form input[type=radio], .side-form-detail input[type=radio] {
	float: left;
	height: 25px;
	margin: 10px 5px 0 2px;	
}

.side-form span.radio, .side-form-detail span.radio {
	color: #fff;
	float: left;
	font-weight: bold;
	margin: 15px 15px 0 0;
}

.side-form-detail span.radio {
	width: auto;
}

.side-form span.error, .side-form-detail span.error {
	color: #800;
	font-size: 12px;
	font-weight: bold;
}

.side-form .last-element, .side-form-detail .last-element {
	border-bottom: 1px solid #fff;	
	padding: 0 0 4px 0;
}

.side-form .edit-field {
	display: none;
}

p.errorblock {
	background: #9f698d;
	color: #fff;
	width: 455px;
	text-align: left;
	padding: 15px;
	margin-bottom: 10px;
}

.submit {
	border-top: 1px solid #fff;
	padding: 15px 15px 0 0;
}

.submit input, input.submit-button, a.button, a.very-small {
	-moz-box-shadow:inset 0px 1px 6px -3px #de7abd;
	-webkit-box-shadow:inset 0px 1px 6px -3px #de7abd;
	box-shadow:inset 0px 1px 6px -3px #de7abd;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9f698d), color-stop(1, #751d58) );
	background:-moz-linear-gradient( center top, #9f698d 5%, #751d58 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9f698d', endColorstr='#751d58');
	background-color:#9f698d;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #5c0e42;
	display:inline-block;
	color:#f5ebf5;
	font-size:13px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	text-decoration:none;
	padding: 0 10px;
	text-align:center;
	float: right;
}
input.small, a.small {
	height: 25px;
	line-height: 25px;
	font-size:11px;
	margin-top: 10px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

a.very-small {
	border-radius: 3px;
	float: none;
	font-size:10px;
	height: 25px;
	line-height: 25px;
	margin: 0 0 0 3px;	
	padding:0;
	width: 26px;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.submit input:hover, input.submit-button:hover, a.very-small:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #751d58), color-stop(1, #9f698d) );
	background:-moz-linear-gradient( center top, #751d58 5%, #9f698d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#751d58', endColorstr='#9f698d');
	background-color:#751d58;
	cursor: pointer;
}
.submit input:active, input.submit-button:active {
	position:relative;
	top:1px;
}

.previous, a.very-small-grey {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #cfcfcf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #dcdcdc;
	margin: 0;
	display:inline-block;
	color:#777777;
	font-size:13px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	padding: 0 10px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
a.very-small-grey {
	border-radius: 3px;
	float: none;
	font-size:10px;
	height: 25px;
	line-height: 25px;
	margin: 0 0 0 3px;
	padding:0;
	width: 26px;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.previous {
	float: left;
}
.previous:hover, a.very-small-grey:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

.back-to-add-form {
	color: #fff;
	cursor: pointer;
	display: none;
	float: left;
	font-size: 11px;
	font-weight: normal;
	margin: 15px 0 0 0;
	text-decoration: underline;	
}

.submit .previous:active {
	position:relative;
	top:1px;
 }
