/* Resetting styles */
body, div, form, h1, h2, h3, header, html, img, input, menu, p, tr, td, table {
	border: 0;
	color: #333;
	font-family: georgia;
	margin: 0;
	padding: 0;
}

a:hover {
	text-decoration: none;
}

body {
	background: #9f698d url(../images/background.png) bottom center no-repeat fixed; 
	text-align: center;
}

header {
	background: #fff;	
	box-shadow: 0 0 20px #fff;
	height: 40px;
	margin: 0 auto;
	padding: 0 10px;
	text-align: left;
	width: 85%;
	
	border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;	
}

menu {
	background: rgba(0, 0, 0, 0.9);
	height: 40px;
	margin: 0 auto;
	padding: 3px 10px;
	text-align: left;
	width: 80%;
}

menu * {
	color: #fff;
}

.user {
	background: url(../images/icon-user.png) no-repeat right;
	color: #fff;
	font-size: 12px;
	float: right;
	line-height: 20px;
	padding: 8px 22px 0 0;
	vertical-align: middle;
}

article {
	margin: 0 0 10px 0;
	text-align: left;
	width: 100%;
}

article h2 {
	background: rgba(0, 0, 0, 0.9);
	color: #fff;
	font-family: georgia;
	font-size: 25px;
	padding: 0 10px;
	margin: 0 auto;	
	text-align: right;
	width: 80%;
}

h2.top-padding {
	padding-top: 15px;
}

article h2 span {
	font-size: 14px;
}

h1 {
	color: #9f698d;
	float: right;
	font-family: georgia;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
}

#question {
	background: #fff;
	width: inherit;	
	box-shadow: 0 0 20px #fff;
}

#question p {
	padding: 10px;
	margin: 0 auto;
	width: 80%;
}

#answer {
	background: rgba(0, 0, 0, 0.9);
	color: #fff;
	margin: 0 auto;
	padding: 10px 10px 0 10px;	
	width: 80%;
	
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
}

.clearer {
	clear: both;
}

.clear-left {
	clear: left;
}

.syntaxhighlighter { overflow-y: hidden !important; }

/*** MENUS ***/
ul {
	padding:0;
	margin:0;
	list-style-type:none;
}

li {
	margin-left:2px;
	float:left; /*pour IE*/
}

ul li a {
	display:block;
	float:left;   
	height: 30px;
	line-height: 30px;
	text-decoration:none;
	text-align:center;
	padding:5px 20px;
}

ul li a:hover {
	background-color: #fff;
	color: #9f698d
}

.body-content {
	background: rgba(0, 0, 0, 0.9);
	margin: 0 auto;
	padding: 20px 10px 10px 10px;
	text-align: left;
	width: 80%;
	
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
}

.home-block {
	width: 32%;	
	float: left;
	margin: 20px 10px 0 0;
}

.home-block h2 {
	color: #fff;
	text-align: left;
	padding: 0 0 0 15px;
}

.home-block h3 {
	font-size: 16px;
	margin-top: 20px;
	text-align: left;
}

.home-block a {
	background: url(../images/rectangle.png) no-repeat;
	color: #333;
	display: block;
	height: 20px;
	line-height: 20px;
	margin: 4px 2px;
	padding: 0 0 0 25px;
}

.home-block a.grey-link {
	color: #aaa;
	cursor: default;
	text-decoration: none;
}

.home-block div {
	background: #fff;
	box-shadow: 0 0 20px #fff;
	padding: 10px;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;	
}

/*** LISTS ***/
div.list {
	margin: 0 310px 10px 0;
	padding: 0 10px 0 10px;
	width: auto;
}

.list h2 {
	border-bottom: 1px solid #fff;
	color:#fff;
	font-size: 20px;
	
}

div.list-item {
	border-bottom: 1px solid #bbb;
	padding: 10px;
}

div.list-item p {
	color: #fff;
	font-size: 12px;
}

p.actions {
	float: right;
	width: 25%;
}

p.main {
	float: left;
	font-size: 18px;
	font-weight: bold;	
	width: 25%;
}

p.detail {
	float: left;
	width: 50%;
}

p.detail span.label {
	color: #bbb;
	font-style: italic;
	font-weight: normal;	
}

a.action {
	display: block;
	float: right;
	height: 30px;
	margin: 0 0 0 5px;
	width: 30px;
}

a.action:hover {
	background-position: 0 0;
}

a.delete {
	background: url(../images/delete-icon.png) no-repeat;
	background-position: 0 -30px;
}

a.edit {
	background: url(../images/edit-icon.png) no-repeat;
	background-position: 0 -30px;
}
