
.wide-block h1 a {
	float: right;
	font-size: 12px;
	font-weight: normal;
	margin: 3px 0 0 20px;
}

.identity {
	float: left;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	width: 28%;
}

#test-detail .identity {
	width: 23%;
}

.identity hr {
	color: #ccc;
	height: 1px;
}

#question-id {
	font-weight: bold;
}

.identity span, #question-id span {
	float: left;
	font-size: 12px;
	font-weight: normal;
	width: 40%;
}

#question-id span {
	width: 20%;
}

.identity span.error {
	width: 100%;
}

.control {
	float: right;
	font-size:10px;
	font-weight: bold;
	line-height: 20px;
	width: 25%;
}

#test-detail .control {
	width: 23%;
}

.central {	
	margin: 0 25% 0 28%;
}

.central-left {
	margin: 0 25% 0 0;
}

#test-detail .central {
	margin: 0 23% 0 23%;
}

.central .detail-list-item, .central-left .detail-list-item {
	border-bottom: 1px dotted #d5d5d5;
	padding: 10px 0;
	min-height: 30px;
}

.central div span {
	float: right;
}

.central div span a.detail-link {
	text-decoration: none;
}

.central div span a.detail-link:hover {
	color: #9f698d;
}

#questions span.question-count, #propositions span.question-count {
	float : left;
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	width: 40px;
}

#questions span {
	float: none;
}

#questions span.important, #propositions span.important {
	float: none;
	font-weight: bold;
}

.container {
	background: #f8f8f8;
	border-radius: 3px;
	margin: 0 5px;
	padding: 10px;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.container h2 {
	border-bottom: 1px dotted #003;
	line-height: 20px;
	margin: 0 0 5px 0;
}

.historic .container {
	font-size:10px;
}

.identity .container {
	margin-left: 0;
}

.control .container {
	background-color: #9f698d;
	margin-right: 0;
}

#detail-edit, #profil-detail-assign-test, #question-edit, #proposition-edit {
	display: none;
}

 #question-edit {
 	margin-bottom: 10px;
 }

.historic {
	background: #f8f8f8;
	border-radius: 3px;
	margin: 10px 0 0 0;
	padding: 10px;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-column-count:3;
	-webkit-column-count:3;
	-o-column-count:3;
	column-count:3;
	-moz-column-gap:20px;
	-webkit-column-gap:20px;
	-o-column-gap:20px;
	column-gap:10px;
	-webkit-column-rule-width:1px;
	-webkit-column-rule-color:#003;
	-webkit-column-rule-style:dotted;
	-moz-column-rule-width:1px;
	-moz-column-rule-color:#003;
	-moz-column-rule-style:dotted;
	-o-column-rule-width:1px;
	-o-column-rule-color:#003
	-o-column-rule-style:dotted;
	column-rule-width:1px;
	column-rule-color:#003;
	column-rule-style:dotted;
}

.historic span {
	font-size:10px;
	font-weight: normal;
}

.correct {
	color: #090;
}

.incorrect {
	color: #900;
}
